.home-section {
    position: relative;
    background-image: url('../../images/bg-image.png');
    background-size: cover;
    background-position: center;
    height: 500px; /* Adjust the height as needed */
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-black overlay */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay h1 {
    font-size: 3rem; /* Adjust the size as needed */
    text-align: center;
  }
  
  
  button {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: white;
    background: #ff7400;
    opacity: 1;
    border: none;
    border-radius: 6px !important;
  }
  button:hover {
    color: white;
    background: #ca5b00;
  }
  button:hover:active {
    color: white;
    background: #ca5b00;
  }
  button:disabled {
    opacity: 0.4;
  }
  
  .container {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0px;
  }
  .container .banner-image {
    aspect-ratio: 7.16;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    margin: 0%;
    padding: 0px;
  }
  
  .announcements-list {
    display: flex;
    flex: 1;
    flex-direction: row;
    font-weight: 600;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .rituals-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    justify-items: center;
  }
  .buttons {
    display: flex;
    flex-direction: column;
  }

  .buttons button{
    margin-bottom: 30px;
    padding: 6px 10px;
  }

