button {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: white;
  background: #ff7400;
  opacity: 1;
  border: none;
  border-radius: 6px !important;
}
button:hover {
  color: white;
  background: #ca5b00;
}
button:hover:active {
  color: white;
  background: #ca5b00;
}
button:disabled {
  opacity: 0.4;
}

footer {
  background: #f8f9fa;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
}
footer .footer-list {
  display: inline-flex;
  text-align: center;
  list-style-position: inside;
  gap: 15px;
  padding-left: 15px;
  margin-bottom: 0;
}/*# sourceMappingURL=Footer.css.map */

.newsletter-signup {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  padding: 2px;
  text-align: center;
  border-radius: 10px;
  align-items: center;

  .newsletter-signup-header {
    color: #000;
    display: flex;
    flex-direction: column;

    .newsletter-signup-title {
      font: 600 16px Inter, sans-serif;
    }
  }

  .newsletter-signup-form {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: row;
    font-weight: 300;
    padding: 0 20px;
    align-items: center;
    justify-content: space-around;

    .newsletter-signup-input {
      height: 27px;
      margin-top: 4px;
      border-radius:20px;
    }
  }

  .newsletter-signup-button {
    align-self: start;
    margin: 5px 0px 0px 30px;
    padding: 2px 15px;
    border-radius: 20px;
  }
}
