.add-service-form-container {
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    border: 2px solid #ffa500;
    border-radius: 10px;
    background-color: #fff;
  
  .form-heading {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    margin-top: 35px;
  }
  
  .form-layout {
    display: flex;
    flex-direction: column;
    background: #fff;
  }
  
  .form-group {
    margin-bottom: 20px;
  }

  .form-label {
    font-weight: normal;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .image-upload {
    position: relative;
  }
  
  .image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 200px;
    height: 150px;
    border: 2px dashed #ddd;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
  }
  
  .image-placeholder img {
    width: 100%;
    height: auto;
    opacity: 0.5;
  }
  
  .file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  .submit-button {
    background-color: #ff6600;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #cc5200;
  }
}