.service-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    justify-items: center;
    margin: 40px 20px;

}
.service-title {
    margin-top: 50px;
}